<!DOCTYPE html>
<html>
  <head>
    <% include _head %>
    <%if (page.component) { %>
      <script src="/pm-components/js/pm-components.js" defer=""></script>
      <script src="/js/<%= page.component %>.js" defer=""></script>
    <% } %>
    <% if (page.css) { for (const css of page.css) { %>
      <link rel="stylesheet" href="<%- css %>">
    <% }} %>
  </head>
  <body>
    <header>
      <div>
        <h1>&lt;<%- page.component %>&gt;</h1>
      </div>
    </header>
    <% include _navigation %>
    <main>
      <%- page.body %>
    </main>
  </body>
</html>
