<!DOCTYPE html>
<html>
  <head>
    <% include _head %>
    <%if (page.component) { %>
      <script src="/pm-components/js/pm-components.js" defer=""></script>
      <script src="/js/<%= page.component %>.js" defer=""></script>
    <% } %>
  </head>
  <body>
    <header>
      <div>
        <h1><%= page.header %></h1>
      </div>
    </header>
    <% include _navigation %>
    <main>
      <%- page.body %>
    </main>
  </body>
</html>
